@font-face {
  font-family: secondFont;
  src: url(revive-80-phatt-outline.otf);
}

body{
  background-color: #f9f9f9;
  margin: 0;
}

h1, h2, h3, h5{
  font-family: secondFont;
}

/* h4, h3 {
  font-family: 'Poppins';
} */

p {
  font-family: 'Poppins', sans-serif;
  margin: 10px;
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;
  position: relative;
}
a::before {
  content: '';
  background-color: hwb(284 24% 21% / 0.75);
  position: absolute;
  bottom: 3px;
  width: 100%;
  height: 8px;
  transition: all .3s ease-in-out;
}
a:hover::before {
  bottom: 0;
  height: 100%;
}

.nav{
  display: flex;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
  font: 100;
}

.homenav {
  display: flex;
  padding-left: 50px;
}

.sectionIntro {
  margin: 0;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 300px;
  border: 0;
  height: 100%;
  background: radial-gradient(#eb6725 25%, #220f4d);
  background-size: 300%; 
  animation: gradeInOut 10s ease-in-out infinite alternate;
}

@keyframes gradeInOut {
  0% {background-position: left;}
  100% {background-position: right;}
}

.bigT {  
  color: #f9f9f9;
  font-size: 100px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
}

@media (max-width: 400px) {
  .bigT {
    font-size: 30px;
  }
}

.intro { 
  text-align: center;
  color:#f9f9f9;
  font-size: 27px;
}


.pageTitle {
  color: #eb6725;
  font-size: 60px;
  margin-top: 40px;
  text-align: center;
}


.container {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: space-evenly;
  padding: 2%;
}

#sectionProject {
  background-color: #f9f9f9;
  padding: 50px;
  margin: 0;
  height: 100vh;
}


ul {
  list-style-type: none; /* Remove bullets */
}

li {
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  color: #eb6725; 
  text-align: center;
}

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}


footer{
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: center;
  background-color: #f9f9f9;
  font-size: 3px;
}
