

@font-face {
  font-family: myFirstFont;
  src: url(revive-80-phatt.otf);
}

@font-face {
  font-family: secondFont;
  src: url(revive-80-phatt-outline.otf);
}

h1{
  font-family: secondFont;
}

h2, h4, h3 {
  font-family: myFirstFont;
}

body{
  margin: 0;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

a {
  text-decoration: none;
  position: relative;
}

a::before {
  content: '';
  background-color: hwb(284 24% 21% / 0.75);
  position: absolute;
  left: 10%;
  bottom: 3px;
  width: 30%;
  height: 8px;
  transition: all .3s ease-in-out;
}

a:hover::before {
  bottom: 0;
  height: 100%;
}

/* span {
  display: inline;
} */

ul {
  list-style-type: none; /* Remove bullets */
}

li {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  color: #eb6725; 
  margin-left: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
}


footer{
  text-align: center;
  background-color: #1c0c3b;
  padding: 10px 10px;
}

.sectionIntro {
  margin: 0;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 300px;
  border: 0;
  height: 100%;
  background: radial-gradient(#eb6725 25%, #220f4d);
  background-size: 300%; 
  animation: gradeInOut 10s ease-in-out infinite alternate;
}

@keyframes gradeInOut {
  0% {background-position: left;}
  100% {background-position: right;}
}

.bigT {  
  color: #fff;
  font-size: 150px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
}

.intro { 
  text-align: right;
  margin-right: 8%;
  color: #fff;
  font-size: 27px;
}


.pageTitle {
  color: #eb6725;
  font-size: 60px;
  margin-top: 40px;
  text-align: center;
}


.sectionProject {
  background-color: #251349;
  /* background-color: #301568; */
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
  height: 100vh;
}


.projectList {
  display: none;
  margin-left: 120px;
  position: relative;
}



.sectionContact {
background: radial-gradient(#eb6725 25%, #220f4d);
padding: 20px;
margin: 0;
height: 100vh;
}

.contactContainer {
  text-align: center;
  padding: 30px 200px;
}

/* .contact {
  text-decoration: none;
} */

/* .reveal {
  position: relative;
  transform: translateY(10px);
  opacity: 0.5;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}  */